<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>rev_shop_demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/api/v1/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/api/v1/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>servlets.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/api/v1/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Seller</display-name>
    <servlet-name>Seller</servlet-name>
    <servlet-class>servlets.Seller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seller</servlet-name>
    <url-pattern>/api/v1/seller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buyer</display-name>
    <servlet-name>Buyer</servlet-name>
    <servlet-class>servlets.Buyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buyer</servlet-name>
    <url-pattern>/api/v1/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>servlets.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/api/v1/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WishlistServlet</display-name>
    <servlet-name>WishlistServlet</servlet-name>
    <servlet-class>servlets.WishlistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WishlistServlet</servlet-name>
    <url-pattern>/api/v1/wishlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>servlets.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/api/v1/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>servlets.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/api/v1/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackOrders</display-name>
    <servlet-name>TrackOrders</servlet-name>
    <servlet-class>servlets.TrackOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackOrders</servlet-name>
    <url-pattern>/api/v1/trackOrders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerOrders</display-name>
    <servlet-name>SellerOrders</servlet-name>
    <servlet-class>servlets.SellerOrders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerOrders</servlet-name>
    <url-pattern>/api/v1/allOrders</url-pattern>
  </servlet-mapping>
</web-app>